[Unit]
Description=Sync Fail2Ban Cloudflare state files to Cloudflare API

[Service]
Type=oneshot
ExecStart=/usr/local/bin/f2b-service-cloudflare-firewall-sync.sh
Nice=10
CPUAccounting=yes
MemoryAccounting=yes
# Optional: Add some error handling
# RemainAfterExit=no
# Optional: Set a timeout
# TimeoutSec=120